<%if session[:user_id]%>
<h1><%=@book.title%></h1>
<h2><%=@book.author%></h2>
<br>
<form action="/books/<%= @book.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<%if session[:user_id] == 1 %>
<label>Title:</label>
    <input type="text" name="book[title]" value="<%=@book.title%>">
    <br><br>
<label>Author:</label>
    <input type="text" name="book[author]" value="<%=@book.author%>">
    <br><br>
<label>Summary:</label><br>
    <textarea rows="5" cols="33" name="book[summary]"><%=@book.summary%></textarea>
    <br><br>
<label>Cover:</label>
    <input type="text" name="img_url" placeholder="paste image url here">
    <br><br>
    <%end%>

<label>Tags:</label>
<br>
<div class="checkboxes">
    <% @tags.each do |tag| %>
        <input type="checkbox" name="book[tag_ids][]" value=<%="#{tag.id}"%> <%='checked' if @book.tags.include?(tag)%>><%= " #{tag.name}" %><br>
    <% end %>
</div>
<br>

<input type="submit" value="Edit Book">
</form><br>


<form action="/tags" method="post">
<label>Create new tag: </label>
<input type="text" name="tag[name]">
<input type="hidden" name="id" value="<%=@book.id%>">
<input type="hidden" name="tag[user_id]" value="<%=@user.id%>">
<input type="submit" value="Add Tag">
</form>
<%else%>
<%="Please log in to view this page."%>
<% end %>